.page-feature-block {
  
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  
}

.front-page-featured-reasons {
  
  margin-top: 2em;
  margin-bottom: 4em;
  
  .media {
    
    padding: 2em 0;
    
  }
  
}

.front-page-sponsors {
  
  text-align: center;
  margin-top: 2em;
  margin-bottom: 4em;
  
  h2 {
    
    margin-bottom: 2em;
    
  }
  
}

// PAGE HEADER

.entry-title {
    
  background-color: desaturate($brand-primary, 5%);
  padding: 10px 5px;
  color: white;
  
  a {
    
    color: white;
    
    &:hover {
      
      color: white;
      
    }
    
  }
    
}